Flask>=0.9
WTForms>1.0
#FIXME: change Flask-WTF to >= 0.8 (?) there seems to be a bug now (see below), or it might be connected to the Flask version - find out!
# File "/home/jskladan/flask_virtualenv/lib/python2.7/site-packages/Flask_WTF-0.9.0-py2.7.egg/flask_wtf/recaptcha/widgets.py", line 5, in <module>
#     from flask.json import dumps, JSONEncoder
Flask-WTF==0.8
resultsdb_api
